* {
  margin: 0;
  padding: 0;
}
body {
  font-family: AvenirNext;
  height: 1024px;
}
.wall {
  background-color: #DA593F;
  position: absolute;
  top: 0;
  width: 16.74%;
  height: 1024px;
  opacity: 0.95;
  background-image: url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png"),
                    url("./assets/background.png");
  background-repeat: no-repeat,
                    no-repeat,
                    no-repeat,
                    no-repeat,
                    no-repeat,
                    no-repeat,
                    no-repeat,
                    no-repeat;
  background-position: left 5%,
                      right 18%,
                      left 31%,
                      right 44%,
                      left 57%,
                      right 70%,
                      left 83%,
                      right 96%;
}
.left-wall {
  left: 0;
}
.right-wall {
  right: 0;
}
.content {
  position: relative;
  text-align: center;
  height: 100%;
  z-index: 2;
}
.top-banner {
  position: absolute;
  background-color: #F6F5AE;
  top: 0;
  bottom: 85.35%;
  left: 16.74%;
  right: 16.74%;
  height: 150px;
}
.logo {
  height: 107px;
  width: 127px;
  padding-top: 22px;
}
.top-messages {
  position: relative;
  top: 200px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.main-msg {
  font-size: 40px;
}
.sub-msg {
  font-size: 30px;
  margin-top: 15px;
}
.items {
  display: flex;
  justify-content: space-evenly;
  position: absolute;
  left: 16.74%;
  right: 16.74%;
  top: 350px;
  height: 469px;
}
.item, .active-item {
  width: 100%;
}
.item:not(:last-child),
.active-item:not(:last-child) {
  border-right: 1px solid #D8D8D8;
}
.number-bar {
  color: #FFFFFF;
  font-size: 30px;
}
.active-item .number-bar {
  background-color: #2E86AB;
}
.item .number-bar {
  background-color: #D8D8D8;
  opacity: 0.5;
}
.image-container {
  width: 200px;
  height: 200px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
}
.center-image {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.active-item .image-container {
  background-color: #2E86AB;
}
.item .image-container {
  background-color: #D8D8D8;
  opacity: 0.5;
}
.msg-item, .fun-msg {
  padding: 20px 0;
  font-size: 20px;
}
.fun-msg {
  padding: 26px 0;
}
.bottom-banner > img {
  position: absolute;
  left: 16.74%;
  top: 819px;
  width: 66.52%;
}
.bottom-messages {
  position: absolute;
  top: 899px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  font-size: 30px;
  color: #565554;
  margin-bottom: 17px;
}
.wait-time-msg {
  font-size: 50px;
}
